@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "poppins";
    src: url("../assets//Poppins-Regular.ttf");
}
@font-face {
    font-family: "fugaz-one";
    src: url("../assets//FugazOne-Regular.ttf");
}
@font-face {
    font-family: "poppins-bold";
    src: url("../assets//Poppins-Bold.ttf");
}
@font-face {
    font-family: "poppins-semibold";
    src: url("../assets//Poppins-SemiBold.ttf");
}